<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="utf-16"></meta>
    <script src="js/products.js"></script>
</head>

<body>
    <div id="app">
        <header>
            <h1>{{sitename}}</h1>
            <div>
                <button v-on:click="showCheckout">
                        <span>{{ cartItemCount }}</span>Оформление заказа
                    </button>
            </div>
        </header>
        <main>
            <div v-if="showProduct">
                <div v-for="product in sortedProducts" v-bind:data-id="product.id">
                    <div>
                        <figure>
                            <img style="width: 200px;" v-bind:src="product.image">
                        </figure>
                    </div>
                    <div>
                        <h1 v-text="product.title"></h1>
                        <p v-html="product.description"></p>
                        <p>Автор: {{product.author}}</p>
                        <p>Издательство: {{product.publishing}}</p>
                        <p>Год: {{product.year }}</p>
                        <p>Колчнство страниц: {{product.pages }}</p>
                        <p>Цена: {{product.price | formatPrice}}</p>
                        <button v-on:click="addToCart(product)" v-if="canAddToCart(product)">Добавить в корзину</button>
                        <button v-else disabled>Добавить в корзину</button>
                        <span v-if="product.avalibleInventory - cartCount(product.id) == 0">
                                Нет в наличии
                            </span>
                        <span v-else-if="product.avalibleInventory - cartCount(product.id) < 5">
                                Осталось только {{product.avalibleInventory - cartCount(product.id)}}
                            </span>
                        <span v-else>
                                Осталось много 
                            </span>
                        <span v-for="n in 5">{{checkRating(n, product)}}</span>
                    </div>
                </div>
            </div>
            <div v-else>
                <div>
                    <div>
                        <p>Оформление заказа</p>
                    </div>
                    <div>
                        <strong>Имя:</strong>
                        <input type="text" v-model.trim="order.firstname">
                    </div>
                    <div>
                        <strong>Фамилия:</strong>
                        <input type="text" v-model.trim="order.lastname">
                    </div>
                    <div>
                        <strong>Адрес:</strong>
                        <input type="text" v-model.trim="order.adress">
                    </div>
                    <div>
                        <strong>Город:</strong>
                        <input type="text" v-model.trim="order.city">
                    </div>
                    <div>
                        <strong>Страна:</strong>
                        <select v-model="order.country">
                                <option v-for="country in order.countries">{{country}}</option>
                            </select>
                    </div>
                    <div>
                        <strong>Почтовый индекс:</strong>
                        <input type="text" v-model.number="order.zip">
                    </div>
                    <div>
                        <label>
                                <input 
                                    type="checkbox"
                                    v-model="order.gift"
                                    true-value="да"
                                    false-value="нет"
                                >
                                Подарочная упаковка
                            </label>
                    </div>
                    <div>
                        <label>
                                <input 
                                    type="radio"
                                    value = "Домашний адрес"
                                    v-model="order.type_adress"
                                >
                                Дом
                            </label>
                        <label>
                                <input 
                                    type="radio"
                                    value = "Рабочий адрес"
                                    v-model="order.type_adress"
                                >
                                Работа
                            </label>
                    </div>
                    <div>
                        <button v-on:click="submitForm">Заказать</button>
                    </div>
                    <div>
                        <pre>
                                Имя: {{order.firstname}}
                                Фамилия: {{order.lastname}}
                                Адрес: {{order.adress}}
                                Город: {{order.city}}
                                Страна: {{order.country}}
                                Почтовый индекс: {{order.zip}}
                                Подарочная упаковка: {{order.gift}}
                                Тип адреса: {{order.type_adress}}
                            </pre>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        let webStore = new Vue({
            el: "#app",
            data: {
                sitename: 'Магазин 404 - найдётся всё для IT-шников!',
                products: [],
                cart: [],
                showProduct: true,
                order: {
                    firstname: '',
                    lastname: '',
                    adress: '',
                    city: '',
                    country: '',
                    zip: '',
                    gift: 'нет',
                    type_adress: "Домашний адрес",
                    countries: ["Россия", "Белоруссия", "Казахстан"]
                }
            },
            filters: {
                formatPrice: function(val) {
                    if (!val) return '';
                    return val + " " + String.fromCharCode(8381);
                }
            },
            computed: {
                cartItemCount() {
                    return String.fromCharCode(55357, 57042) + "" + this.cart.length || "";
                },
                sortedProducts() {
                    let arr = products.slice(0);
                    return arr.sort(function(a, b) {
                        let titleA = a.title.toLowerCase(),
                            titleB = b.title.toLowerCase();

                        if (titleA > titleB)
                            return 1;
                        if (titleA < titleB)
                            return -1;
                        return 0;
                    });

                }
            },
            methods: {
                addToCart(product) {
                    this.cart.push(product.id);
                },
                showCheckout() {
                    this.showProduct = !this.showProduct;
                },
                submitForm() {
                    alert("Заказ оформлен");
                },
                checkRating(n, product) {
                    return (product.rating - n >= 0) ?
                        String.fromCharCode(9733) :
                        String.fromCharCode(9734)
                },
                canAddToCart(product) {
                    return product.avalibleInventory > this.cartCount(product.id);
                },
                cartCount(id) {
                    let itemCount = 0;

                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            itemCount++;
                        }
                    }
                    return itemCount;
                }

            },
            created() {
                this.products = window.products;
            }
        });
    </script>
</body>

</html>