.flex-row {
    display: flex;
}

.border {
    border: 1px solid black;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.big {
    flex-basis: 500px;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-shrink-2 {
    flex-shrink: 2;
}

.order {
    order: 1;
    background-color: rebeccapurple;
}