<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model='name'>
        <br>
        <input type="number" v-model='number'>
        <br>
        <input type="text" v-bind:value="number" v-on:input="number = $event.target.value">

        <p>{{name}}</p>
        <p>Факториал числа {{number}} равен {{factorial(number)}}</p>

        <label for="textarea">Введите комментарий</label>
        <textarea name="" id="textarea" cols="30" rows="10" v-model='message'></textarea>
        <br>
        <div>
            <h3>Комментарий</h3>
            <p style="white-space: pre-line;">{{message}}</p>
        </div>

        <input type="checkbox" id="cb" v-model='checked' true-value='Yes' false-value='Not'>
        <label for="cb">{{checked}}</label>
        <br>
        <input type="checkbox" id="cb1" value='Tom' v-model="selectedUser">
        <label for="cb1">Tom</label>

        <input type="checkbox" id="cb2" value='Carl' v-model="selectedUser">
        <label for="cb2">Carl</label>

        <input type="checkbox" id="cb3" value='Vova' v-model="selectedUser">
        <label for="cb3">Vova</label>
        <span>{{selectedUser}}</span>
        <br>

        <input id="ch_box" type="radio" v-bind:value="variant1" v-model="radioUser">
        <label for="ch_box">{{variant1.name}}</label>
        <input id="ch_box2" type="radio" v-bind:value="variant2" v-model="radioUser">
        <label for="ch_box2">{{variant2.name}}</label>
        <input id="ch_box3" type="radio" v-bind:value="variant3" v-model="radioUser">
        <label for="ch_box3">{{variant3.name}}</label>
        <br>
        <span>{{radioUser.name}} - {{radioUser.age}}</span>
        <br>
        <select v-model="selectOption">
            <option >Tom</option>
             <option>Bob</option>
            <option >Sasha</option>
        </select>
        <span>{{selectOption}}</span>
        <br>

        <select v-model="arrSelectOption" multiple>
            <option >Tom</option>
             <option>Bob</option>
            <option >Sasha</option>
        </select>
        <span>{{arrSelectOption}}</span>

        <br>

        <select v-model="arrSelectValue">
            <option v-bind:value="metree">м</option>
            <option :value="kilogramm">кг</option>
            <option :value="second">с</option>
        </select>
        <span>{{arrSelectValue}}</span>

        <ul>
            <li v-for='phone in phones'>{{phone}}</li>
        </ul>

        <br>

        <ul>
            <li v-for="(user,index) in users">
                <p>{{index + 1}}){{user.name}}</p>
                <p>{{user.age}}</p>
            </li>
        </ul>

        <ul>
            <li v-for="user in users">
                <p v-for="(value, key) in user">
                    {{key}}:{{value}}
                </p>
            </li>
        </ul>

        <ul>
            <template v-for="user in users">
                <li>{{user.name}}</li>
                <li>{{user.age}}</li>
                <li>{{$data.user}}</li>
            </template>
        </ul>

        <ul>
            <li v-for="n in 10">{{n}}</li>
        </ul>

        <ul>
            <li v-for="n in arr.length">{{n}}) {{arr[n-1]}}</li>
        </ul>

        <template v-for='user in users'><label>{{user.name}}
            <input type="checkbox" :value='user' v-model='arrUsers'>
        </label>
       </template>

        <ul>
            <li v-for="user in arrUsers">
                {{user.name}} - {{user.age}}
            </li>
        </ul>


        <template v-for="user in users">
            <label>
                <input 
                    type="radio" 
                    :value="user"
                    v-model="radioUser2"
                >
            {{user.name}}</label>
        </template>

        <span v-if="radioUser2">
                {{radioUser2.name}} - {{radioUser2.age}}
        </span>

        <br>

        <select v-model='selUser'>
            <option 
                v-for="user in users"
                :value="user"   
            >{{user.name}}</option>
        </select>

        <span v-if="selUser">
            {{selUser.name}} - 
            {{selUser.age}}
    </span>
    </div>

    <div id="app2">
        <input type="text" v-model.lazy="name">
        <span>{{name}}</span>
        <br>
        <input type="text" v-model.lazy.number="age">
        <span>{{age}}</span>
        <br>
        <input type="text" v-model.trim="massage">
        <span>{{massage}}</span>

        <br>

        <ul>
            <li v-for="num in arr" :key="num">{{num}}</li>
        </ul>
        <button @click="sort">Пересортировать</button>
    </div>

    <div id="app3">

    </div>
</body>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            name: 'Tom',
            number: 1,
            message: 'Комментарий...',
            checked: true, // добавить "да",
            selectedUser: [],
            radioUser: {},
            variant1: {
                name: 'Tom',
                age: 18
            },
            variant2: {
                name: 'Bob',
                age: 23
            },
            variant3: {
                name: 'Sasha',
                age: 32
            },
            selectOption: 'Tom',
            arrSelectOption: [],
            metree: "метр",
            kilogramm: "килограм",
            second: "секунда",
            arrSelectValue: '',
            phones: ['iPhone', 'Galaxy', 'Nokia'],
            users: [{
                    name: 'Sasha',
                    age: 18
                }, {
                    name: 'Tom',
                    age: 25
                }, {
                    name: 'Petr',
                    age: 32
                }

            ],
            user: 'asf',
            arr: ["тест1", "тест2", "тест3"],
            arrUsers: [],
            radioUser2: null,
            selUser: null
        },
        methods: {
            factorial(n) {
                let res = 1;
                for (let i = 1; i <= n; i++) {
                    res *= i;
                }
                return res;
            }
        }

    });

    let app2 = new Vue({
        el: '#app2',
        data: {
            name: '',
            age: 10,
            massage: '',
            arr: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        },
        methods: {
            sort() {
                this.arr.sort(() => {
                    return Math.random() * 2 - 1;
                })
            }
        }
    });

    let odserver = new MutationObserver(function(record) {
        console.log(record);
    });

    odserver.observe(app3, {
        childList: true,
        subtree: true,
    })
</script>

</html>